<h1 ng-bind="vm.title"></h1>

<h1 class='title text-center'>How much money could YOU save with Carefree Dental?</h1>

<h2 class='text-center instructions'><span class='title'><strong>Step 1:</span> Select how many people are in your household<strong><span class='glyphicon glyphicon-question-sign toolTip'><span class="content">Text here!</span></span></h2>
<div class="people">
  <div>
  <span ng-repeat='user in users track by $index' ng-click='setRows(user)' class="fa fa-smile-o icons" ng-class="{is_active: person.value >= user}"></span>
</div>
<h4 class='text-center' ng-show='step2Instructions'>Please select how many people are in your household before moving to step 2.</h4>
</div>
<div class='step2' ng-show='step2' >
  <h2 class='text-center'><span class='title'><strong>Step 2:</span> See how much you could save by selecting the services you need below:</strong></h2>
  <div class='step2Description'>
    <h4 class='text-center grey'>The following dental savings information chart compares actual costs to discounted costs for common dental services.</h4>
    <h4 class='text-center grey'>Check a few boxes to get started.</h4>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class='tableDesc'>
        <th class='FnLRows'></th>
        <th class='preCheck rotate'>Oral Exam</th>
        <th class='preCheck rotate'>Cleaning</th>
        <th class='preCheck rotate'>Filling</th>
        <th class='preCheck rotate'>X-Rays</th>
        <th class='preCheck rotate'>Root Canal</th>
        <th class='preCheck rotate'>Crown</th>
        <th class='preCheck rotate'>Upper Denture</th>
        <th class='preCheck rotate'>Braces</th>
        <th class='FnLRows'></th>
      </tr>
    </thead>
    <thead class='tableHead table-bordered'>
      <tr>
        <th class='FnLRows'><strong># of Individuals</strong></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='1' ng-change='selectAll("oral", oralC)' ng-model='oralC'></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='2' ng-change='selectAll("cleaning", cleaningP)' ng-model='cleaningP'></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='3' ng-change='selectAll("filling", fillingP)' ng-model='fillingP'></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='4' ng-change='selectAll("xray", xrayP)' ng-model='xrayP'></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='5' ng-change='selectAll("crown", crownP)' ng-model='crownP'></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='6' ng-change='selectAll("canal", canalP)' ng-model='canalP'></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='7' ng-change='selectAll("dentures", denturesP)' ng-model='denturesP'></th>
        <th class='text-center check'>Select All<br><input type="checkbox" class="selectAll" value='8' ng-change='selectAll("braces", bracesP)' ng-model='bracesP'></th>
        <th class='FnLRows'><strong>Annual Savings*</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in tableRows track by $index">
        <td>Person {{$index+1}}</td>
        <td><input type="checkbox" class="group-1 checkTable oral" value='1' data-value='prices.oral' ng-click='checked(prices.oral, $index, tableRows[$index].oral, "oral")' ng-model='tableRows[$index].oral'></td>
        <td><input type="checkbox" class="group-2 checkTable cleaning" value='2' data-value='prices.cleaning' ng-change='checked(prices.cleaning, $index, tableRows[$index].cleaning, cleaning)' ng-model='tableRows[$index].cleaning'></td>
        <td><input type="checkbox" class="group-3 checkTable filling" value='3' data-value='prices.filling' ng-change='checked(prices.filling, $index, tableRows[$index].filling, filling)'  ng-model='tableRows[$index].filling'></td>
        <td><input type="checkbox" class="group-4 checkTable xray" value='4' data-value='prices.xray' ng-change='checked(prices.xray, $index, tableRows[$index].xray, xray)' ng-model='tableRows[$index].xray'></td>
        <td><input type="checkbox" class="group-5 checkTable crown" value='5' data-value='prices.crown' ng-change='checked(prices.crown, $index, tableRows[$index].crown, crown)'  ng-model='tableRows[$index].crown'></td>
        <td><input type="checkbox" class="group-6 checkTable canal" value='6' data-value='prices.canal' ng-change='checked(prices.canal, $index, tableRows[$index].canal, canal)' ng-model='tableRows[$index].canal' ></td>
        <td><input type="checkbox" class="group-7 checkTable dentures" value='7' data-value='prices.dentures' ng-change='checked(prices.dentures, $index, tableRows[$index].dentures, dentures)'  ng-model='tableRows[$index].dentures'></td>
        <td><input type="checkbox" class="group-8 checkTable braces" value='8' data-value='prices.braces' ng-change='checked(prices.braces, $index, tableRows[$index].braces, braces)' ng-model='tableRows[$index].braces' ></td>
        <td class='FnLRows'><strong>${{i.subtotal}}</strong></td>
      </tr>
    </tbody>
  </table>
  <div class="addRow">
    <a href="#" ng-click='addRow()'><span>+Add another person<span></a>
    <p>*This is an example only. Actual costs and savings vary by provider, service and geographical area. Cost of card $191.40. ($15.95/mo for 12 months)</p>
  </div>
  <div class="bottomInfo">
    <div class="left text-center">
  <h2><strong>Cost of the CareFree Dental Card:</strong></h2>
  <h1 class='total'>$15.95/mo</h1>
  <p>Annual cost of the CareFree Dental Card is $191.40.</p>
    </div>
    <div class="right text-center">
  <h2><strong>Estimated Yearly Savings:</strong></h2>
  <h1 class='total'>${{totalSavings()}}</h1>
  <p>Thats {{moneyWorth(total)}} movie tickets!</p>
    </div>
  </div>
  <div class="button">
    <a href="#"><div class="leftLinks text-center"><h3>Signup & Start Saving Today!</h3></div></a>
  </div>
</div>
